#login-background {
    background-image: url('../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#login-error {
    color: red;
    font-size: 18px;
}