// Font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins:wght@200&display=swap');
$font-title: 'Noto Sans JP', sans-serif;
$font-body: 'Poppins', sans-serif;

// Color Palette
$black: #000000;
$lapis-lazuli: #2D5D8B;
$powder-blue: #B1CCE6;
$thulian-pink: #CE6495;
$pink-lavender: #E5ADC7;
$white: #ffffff;
